.idea
wp-config.php

wp-content/*
!wp-content/plugins/
wp-content/plugins/*
!wp-content/mu-plugins/
!wp-content/themes/
wp-content/themes/twenty*/

logs/
*.log
*.sql
*.sqlite
*.7z
*.dmg
*.gz
*.bz2
*.iso
*.jar
*.rar
*.tar
*.zip
*.tgz
!wp-includes/**/*.gz

# OS files #
.DS_Store*
ehthumbs.db
Thumbs.db
._*

temp/
.htaccess
